path/*
runs/*
weights/*
models/__pycache__/*
models/*.pyc
train_eval/__pycache__/*
train_eval/*.pyc
util/__pycache__/*
util/*.pyc
datasets/__pycache__/*
eval_visual/__pycache__/*
datasets/*.pyc
job.slurm
output.log
*.txt
*.swp
*.jpg
*.log
Spec_Occu_*
Spec_Occu_10017924
fine_tune_roc/*
fine_tune_roc_1/*
prob_cloud/*